<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @review.client %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>User review:</strong>
  <%= @review.user_review %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
